/* CSS RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* site-wide settings */
* {
    font-family: Roboto, Arial, sans-serif;
    color: #292933;
}

h1 {
    color: #004480;
}

/* basic structure */
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    width: 100vw
}

/* sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    padding-left: 20px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

#dashboard-icon {
    height: 50px;
    filter: invert(13%) sepia(81%) saturate(3816%) hue-rotate(196deg) brightness(90%) contrast(101%);
}

.dashboard>h1 {
    color: #292933;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}



/* main-container */
.main-container {
    display: grid;
    grid-template-rows: 150px 1fr;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    gap: 20px;
}

/* header>header-menu */
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
    width: clamp(12rem, 30vw, 40rem);
    display: flex;
    align-items: center;    
    background-color: #E6E6E8;
    border-radius: 25px;
    padding-left: 1rem;
    margin-top: 1.7rem;
}


.header-menu-menu {
    display: flex;
    flex-direction: row;
    margin-top: 1.7rem;
}

#bell-ring {
    margin-right: 1rem;
}

#magnify, #bell-ring {
    height: 32px;
}

/* header>header-main */
.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-welcome {
    padding-left: 1rem;
}

.header-main-button-container {
    display: flex;
    flex-direction: row;
}

.header-main-button {
    background-color: #004480;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    margin: 0.8rem;
    border-radius: 25px;
}

.header-main-button>h3 {
    color: white;
}


/* content */
.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "projects projects projects announcements"
        "projects projects projects announcements"
        "projects projects projects trending"
        "projects projects projects trending"
    ;
    background-color: #E6E6E8;
    border-radius: 25px;
    margin: 25px;
}

/* projects */
.projects  {
    grid-area: projects;
}

.projects > .content-header {
    padding-left: 1rem;
}

.content-header {
    padding-top: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

.card-line {
    border-left: 0.8rem solid #004480;
    height: 100%;
}

.text {
    padding: 1rem;
}

/* announcements */
.announcements {
    grid-area: announcements;
}

/* trending */
.trending {
    grid-area: trending;
}